img {
    width: 120px;
    height: 100px;
    margin-right: 20px;
    border-radius: 30%;
}

.Container {
    width: 450px;
    border-radius: 15px;
    border: 3px solid #4a6c80;
    color: #333333;
    display: block;
    margin: 150px auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.Header {
    padding: 20px;
    background-color: #9595b4; 
    color: #333333;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.Body {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b8afcb;
}

.Body div {
    flex: 1;
}

.Name {
    font-size: 2.1rem;
    font-weight: bold;
    color: #0d0d0d; 
    margin-bottom: 8px;
}

.Title {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 15px;
}

.Contact {
    font-size: 0.9rem;
    color: #777777;
}

.Footer {
    background-color: #9596bd;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: white;
    border-top: 1px solid #cccccc;
}

.footerText{
    color: #0d0d0d;
}

.linkedinLink {
    color: rgb(21, 20, 20);
    text-decoration: none;
    font-weight: bold;
}

.linkedinLink:hover {
    text-decoration: underline;
    color: #4c6606;
}
